a:hover {
    text-decoration: none;
}
.secomapp-unsuccess{
font-size: 1.6rem;
    font-weight: 600;
    background: #F4F6F8;
    padding: 0.5rem;
    text-align: left;
    color: #000;
    border-radius: 5px;
}
.secomapp-normal{
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0.5rem;
    text-align: left;
    color: #000;
    border-radius: 5px;
}
.secomapp-normal .Polaris-Button__Text {
    color: #fff;
}

.secomapp-success{
    font-size: 1.6rem;
    font-weight: 600;
    background: #EFF7ED;
    padding: 0.5rem;
    text-align: left;
    color: #000;
    border-radius: 5px;
}
.secomapp-toggle-button {
    top:0;
    right: 0;
}

#secomapp-button-right {
    left: 50%;
}
#secomapp-button-right-large {
    left: 46%;
}
.secomapp-via-text {
    text-align: right;
    margin-right: 5%;
}

#secomapp-btn-fix {
    float: right;
}
.secomapp-pagination {
    margin-left: 44%;
    margin-top: 4%;
}


/*get help bar*/
.nav {
    overflow: hidden;
    background-color: #5766C2;
    position: fixed;
    bottom: -10px;
    right: -10px;
    z-index: 800;
    opacity: 0;
    transition: width 0.2s ease-in, height 0.2s ease-in, opacity 0.1s ease-out;
}
.toggle-nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 0;
    color: white;
    z-index: 900;
    text-decoration: none;
    background-color: #5766C2;
    width: 60px;
    height: 60px;
    border-radius: 100% 100% 100% 100%;
}
.toggle-nav:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    content: '\e8af';
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}
.nav-active {
    transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}
.nav-active .nav {
    width: 330px;
    height: 450px;
    opacity: 1;
    bottom: 10%;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    right: 10px;
    transition: all 0.3s ease-in-out;

}
.nav-active .nav ul {
    opacity: 1;
}
.nav-active .toggle-nav:before {
    content: '\e5cd';
    transition: all 0.3s ease-in-out;
}

/*FAQ*/
.item{
    border-radius: 2%;
}


/*support form*/


#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    margin-top: 10%;
}

#form-div {
    width: 100%;
    position: absolute;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:90%;
    margin-left: 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #5766C2;
    color: #5766C2;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#5766C2;
    border:#5766C2 solid 3px;
}

/* Icons ---------------------------------- */
#name{
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    border-radius: 7px;
}

#name:focus{
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    border-radius: 7px;
}

#email:focus{
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    border-radius: 7px;

}

textarea {
    width: 100%;
    height: 150px;
    line-height: 250%;
    resize:vertical;
}

form p {
    border-radius: 7px;
}

#button-blue.Polaris-Button {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 90%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background: #5766C2;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    margin-left: 5%;
    border-radius: 6px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
}

.submit:hover {
    color: #5766C2;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

